.box{
    background-image: linear-gradient(to right bottom, #70abf8da, #acd6f8b0, #7cdaf16c, #c7eefa5d, #84f3f759);
    min-height: 400px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2rem;
    border-radius: 4%;
    
}
h1{
    font-family: 'Road Rage', cursive;
}
header,form{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    border: none;
    
}
form button{
    background-color: rgb(255, 192, 121);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
}
form button :hover{
    background-color: rgb(81, 255, 0);
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo-input{
    min-width: 26%;

}

.todo-items {
    flex: 1;
}

.complete-btn{
    
    background-color: rgb(129, 255, 146);
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}
.complete-btn :hover{
    background-color: rgb(9, 255, 0);
    border-radius: 50%;
}
.trash-btn:hover{
    background-color:  rgb(255, 13, 13);
}

.trash-btn{
    background-color: rgb(255, 98, 98);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}
.todo-items{
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translate(8rem) rotate(360deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;

}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: rgb(0, 0, 0);
    width: 8rem;
    cursor: pointer;
    padding: 0.5rem;
}

.select::after{
    content:  "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 00.5rem;
    background-color: rgb(0, 217, 255);
    pointer-events: none;
    transition: all 0.3s ease ;
}
.select:hover::after{
    background-color: rgb(219, 255, 122);

}

footer { margin-top: 5%; color: #000000; text-align: center; font-family: 'Indie Flower', cursive; }



@media screen and (max-width: 720px) {
    
    .box{
        margin-right: 5%;
        margin-left: 5%;
        padding:1rem;
    }
    .todo{
        width: 100%;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 1rem;
        transition: all 0.5s ease;
    }

    
      }